<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- 팩토리를 선언하는 방법 -->
	<bean id="dataSource" 
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="oracle.jdbc.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@Localhost:1521/xe"/>
		<property name="username" value="oooonx"/>
		<property name="password" value="qwer"/>
	</bean>
	<bean id="userDAO"
		class="c231023.main.java.classJava.user.dao.UserDAOJDBC">
		<property name="dataSource" ref="dataSource"/>
	</bean>
</beans>